h3 {
  margin-left: 50px;
}

table, th, td {
    border: 2px solid black;
}

table{
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}


td {
  height: 30px;
  width: 30px;
}

#text{
  text-align: center;
}

